/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

#viewport {
	height: 90%;
	width: 100%;
	display: flex;
}


#map {
	flex: 1;
}

#pano {
	flex: 1;
}


.bottom {
	display: block;
	height: 10%;
	margin: 0;
	padding: 0;
}

